.signup {
  width: 400px;
  margin: 50px auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}
.signup div {
  margin-top: 40px;
}
.signup input {
  width: 180px;
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
}
.signup-btn {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.signup-btn button {
  padding: 10px;
}
